
.imgWidth{
    width: 400px;
    height: 220px;
    border-radius: 20px;

}

.backgroundImg{
    background-image: url(../../../public/bg.jpg);
   
}

@media only screen and (max-Width:600px) {

    .imgWidth{
    width: 350px;
    height: 220px;
    border-radius: 20px;

}
}
