.textDesign{
    color: rgb(8, 70, 29);
    font-weight: 500;
    font-size: 18px;
    
    
}

.logo{
    width: 35px;
    height: 38px;
    border-radius: 10px;
    margin-right: 4px;   
}

